html, body {
    width: 100%;
    height: 100%;
}

#main {
    width: 600px;
    margin: auto;
    overflow: hidden;
}

#header {
    font-size: 1.5rem;
    font-weight: bold;
}

#digital_display {
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
}

#digital_clock {
    font-size: 5rem;
}